* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

body > div { 
    margin: 5% auto 0;
    max-width: 720px;
}

.header {
    display: flex;
    position: relative;
}

.header .line {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    background-color: #C23564;
    border-radius: 15px;
    transition: all 0.2s ease;
}

.header .header__item {
    min-width: 80px;
    color: #C23564;
    background-color: #fff;
    opacity: 0.6;
    font-size: 24px;
    padding: 16px 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all 0.5s ease;
    border-bottom: 5px solid transparent;
}

.header__item.active {
    opacity: 1;
}

.header__item:hover {
    opacity: 1;
    cursor: pointer;
    background-color: rgba(194, 53, 100, 0.05);
    border-color: rgba(194, 53, 100, 0.1);
}

.content {
    padding: 24px 0;
}

.content__des {
    color:  #333;
    display: none;
    
}

.content__des h2 {
    padding: 16px 0;
}

.content__des.active {
    display: block;
}